{% extends 'admin/master.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>Заявки</h2>
                <p>Всего заявок: {{applicant_stat.distributed+applicant_stat.new+applicant_stat.unpaid}}.
                    Распределено: {{applicant_stat.distributed}}.
                    Оплачено: {{applicant_stat.unpaid}}
                    Новых: {{applicant_stat.new}}
                </p>
                <h3>Новые заявки</h3>
                <table class="table">
                    {% for applicant_id, applicant_val  in applicant_dashboard.items(): %}
                    <tr>
                        <td><a href="/admin/applicant/edit/?id={{applicant_id}}&url=/admin/applicant/">{{applicant_val.group_title}}</a></td>
                        <td>{{applicant_val.name_std}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <a href="/admin/applicant/" class="btn btn-primary" role="button">Перейти к заявкам</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2>Группы</h2>
                <br>
                <table class="table">
                    <tr>
                {% for group_id, group_val  in group_dashboard.items(): %}
                    <tr>
                        <td><a href="/admin/group/edit/?id={{group_id}}&url=/admin/group/">{{group_val.title}}</a></td>
                        <td>{{group_val.amount_student}} / {{group_val.max_student}} набрано</td>
                        <td>
                            {% if group_val.amount_student==group_val.max_student %}
                                нет мест
                            {% else %}
                                есть места
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <br>
                <a href="/admin/group/" class="btn btn-primary" role="button">Перейти к группам</a>
            </div>
        </div>
    </div>
{% endblock %}