<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Страница входа | STEP-CRM</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5 mt-5" action="" method="post">
          {{ login_form.csrf_token() }}
          <div class="text-center m-6 b-1">
            <h1 class="h3 mb-3 font-weight-normal">STEP-CRM</h1>
            <p class="mb-4">Что-то мы вас не узнали</p>
          </div>
          {% for err in login_form.mail.errors %}
            <p>{{ err }}</p>
          {% endfor %}
          <div class="form-label-group">
            <p class="text-muted">E-mail
            {{ login_form.mail(class='form-control') }}
            </p>
          </div>
          <div class="form-label-group">
            <p class="text-muted">Пароль
            {{ login_form.password(class='form-control') }}
            </p>
          </div>
          <div class="checkbox mb-3"> </div>
          {{ login_form.submit(class='btn btn-lg btn-primary btn-block') }}
        </form>
      </div>
    </div>
  </main>
</body>
</html>